body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E5E5E5;
  color: #F65614;
}


.dark-mode{
  background-color: #26262E;
  
  
}

/* Add padding to containers */
.container {
  top: 50%;
  left: 50%;
  margin: auto;
  padding: 64px;
  width: 75%;
  background-color: #2F2F37;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ddd;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #b4c1c5;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #F65614;
  color: #ddd;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color:#F65614;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #b4c1c5;
  text-align: center;
}

@media only screen and (min-width: 1500px){
  .container {
    top: 50%;
    left: 50%;
    margin: auto;
    padding: 32px;
    width: 50%;
    background-color: #2F2F37;
  }

}